.Messenger .input-field input[type=search] {
	border-radius: 10px !important; 
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.Messenger .input-field input[type=search]:focus {
	border-radius: 10px !important; 
	border-radius: 10px !important;
	box-shadow: 2px 3px 2px rgba(0,0,0,0.1) !important;
}

.Messenger .prefix {
	margin-top: -1px !important;
	margin-left: 3px !important;
	background:  #3AD4D4  !important;
	padding: 5px 5px 5px 5px !important;
	color: #fff !important;
	border-radius: 10px !important;
}
/*.Messenger .input-field .prefix {
	margin-top: 1px !important;
	margin-left: 3px !important;
	background:  #3AD4D4  !important;
	padding: 5px 5px 5px 5px !important;
	color: #fff !important;
	border-radius: 10px !important;
}*/
.messenger-section {
	margin-top: -14px !important;
    background: #EAEDED;
    color: #fff;
  
}

.messenger-message-to {
	word-wrap: break-word !important;
    position: relative !important; 
    background: #333;
    color: #fff;
    margin: 10px 10px 10px 10px !important;
    padding: 20px 20px 20px 20px !important;
    border-radius: 5px;

}
.messenger-message-to:before {
    content:"";
    width: 0; 
    height: 0; 
    position: absolute;
    top: calc(50% - 13px);
    left: -20px;
    border-top: 10px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 20px solid #333; 
}
.messenger-message-from {
	word-wrap: break-word !important;

    position: relative !important; 
    background: #154360;
    color: #fff;
    margin: 10px 10px 10px 10px !important;
    padding: 20px 20px 20px 20px !important;
    border-radius: 5px;

}
.messenger-message-from:before {
   content:"";
   width: 0; 
   height: 0; 
   position: absolute;
   top: calc(50% - 13px);
   right: -20px;
   border-top: 10px solid transparent;
   border-bottom: 20px solid transparent; 
   border-left: 20px solid #154360; 
}
/*.messenger-section:before {
    content:"";
    width: 0; 
    height: 0; 
    z-index: 999 !important;
    position: absolute;
    top: -5px; 
    left: 30px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-bottom: 40px solid red ; 
}*/