/* label focus color */
 .input-field input:focus + label {
   color: crimson !important;
   background: transparent !important; 
   font-size: 15px;
 }

 .input-field i.active {
   color: crimson !important;
   background: transparent !important; 

 }
 /* label underline focus color */
 .row .input-field input:focus {
 	
   border-bottom: 1px crimson !important;
   box-shadow: 0 1px 0  !important
 }
