.Timeline {

}

.timeline-post {
    word-wrap: break-word !important;
    position: relative !important; 
    background: #1D3C50;
    color: #fff;
    margin: 10px 10px 10px 10px !important;
    padding: 20px 20px 20px 20px !important;
    border-radius: 5px;

}
.timeline-post:before {
    content:"";
    width: 0; 
    height: 0; 
    position: absolute;
    top: calc(50% - 13px);
    left: -20px;
    border-top: 10px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 20px solid #1D3C50; 
}
.small-dp {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.med-chip {
    height: 40px !important;
}

.ui-button {
    margin: 5px 5px 5px 5px !important;
    border-radius: 20px !important;
    width: 50px !important;
    overflow: hidden !important;
}
.ui-button:hover {
    width: 200px !important;
}
.comment-textarea {
    background: #fff;
    color: black !important;
    border-radius: 6px;
    height: 45px;
    padding: 10px 10px 10px 60px;
    transition: 0.6s all ease-out ;
}

.comment-textarea:focus {

    height: 110px;

}
.comment-section {
    overflow-x: hidden !important;
}
.comment-section::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.comment-section::-webkit-scrollbar-track {
    background: #333;
    
   
}

.comment-section::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 0;
    -webkit-box-shadow: inset 1px 1px 6px rgba(0,0,0,0.5); 
}
.comment {
    padding: 0 0 0 0 !important;
    background: transparent !important;
    border-left: 5px double #fff !important;
}
.comment:before{
    content:"";
    width: 0; 
    height: 0; 
    position: absolute;
    top: 0;
    left: -20px;
    border-top: 1px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 20px solid #fff; 
}
.neg-margin {
    margin-top: -42px !important;
}