body {
}
.grey {
  
    color: crimson;
}
footer{
	bottom: 0;
	display: block;
	width: 100%;
	background: #E9EBEE;
	box-sizing: border-box;
	margin: 0 0 0 0;
	min-height: 170px;
	font-family: roboto;
	color: grey;

}

.box {
	box-shadow: 2px 2px 0 lightgray;
	margin-top: 50px;
}

.blue-strip {
	border-left: 12px double lightblue !important;
	border-top-right-radius:  8px !important;
	border-bottom-right-radius: 8px !important;	
	border-bottom-left-radius: 8px !important;
}
.red-strip {
	border-left: 12px double red !important;
	border-top-right-radius:  8px !important;
	border-bottom-right-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
}
.grey-strip {
	border-left: 12px double grey !important;

	border-bottom-left-radius: 8px !important;
}