body {
	height: 100%;

}
.grey {
  
    color: crimson;
}
/*footer{
	bottom: 0;
	display: block;
	width: 100%;
	background: #E9EBEE;
	box-sizing: border-box;
	margin: 0 0 0 0;
	min-height: 170px;
	font-family: roboto;
	color: grey;

}*/

.box {
	box-shadow: 1px 1px 1px lightgray;
	margin-top: 50px;
}

.blue-strip {
	border-left: 12px double lightblue !important;
	border-top-right-radius:  8px !important;
	border-bottom-right-radius: 8px !important;	
	border-bottom-left-radius: 8px !important;
}
.red-strip {
	border-left: 12px double red !important;
	border-top-right-radius:  8px !important;
	border-bottom-right-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
}
.grey-strip {
	border-left: 12px double grey !important;
	border-bottom-left-radius: 8px !important;
}

.top-margin {
	margin-top: 64px !important; 
}

.error-message {
	position: relative !important; 
	background: #FCBCB9;
	color: #B20E06;
	margin-top: 5px !important;
	padding: 10px 10px 10px 10px !important;
	border-radius: 4px;

}
.error-message:before {
    content:"";
    width: 0; 
    height: 0; 
    position: absolute;
    top: 0;
    left: -10px;
    border-top: 0 solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 12px solid #FCBCB9; 
}

.success-message {
	position: relative !important; 
	background: #C8FCCE;
	color: #333 !important;
	margin-top: 5px !important;
	padding: 10px 10px 10px 10px !important;
	border-radius: 4px;
	font-size: 16px;

}
.success-message:before {
    content:"";
    width: 0; 
    height: 0; 
    position: absolute;
    top: 0;
    left: -10px;
    border-top: 0 solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 12px solid #C8FCCE; 
}

.info-message {
	position: relative !important; 
	background: lightblue;
	color: #B20E06;
	margin-top: 5px !important;
	padding: 10px 10px 10px 10px !important;
	border-radius: 4px;

}
.info-message:before {
    content:"";
    width: 0; 
    height: 0; 
    position: absolute;
    top: 0;
    left: -10px;
    border-top: 0 solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 12px solid lightblue; 
}

.black-gradient {
	background: #485563 !important; /* fallback for old browsers */
	  background: -webkit-linear-gradient(to right, #485563, #29323c) !important; /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to right, #485563, #29323c) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

